
.header{
 	min-height: 60px;
 	background: #808080;
 	padding-top: 10px;
	border: 1px solid #000;
 }
.leftNav{
	background: #808080;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	min-height: 660px;
}
 .homeClass{
 	background: #00e699;
 }
 .homeClass span{
 	color:red;
 }
 .tableData{
 	padding-top: 15px;
 	background:#f1f1f1;
 	   min-height: 500px;
 }
 .tableData table{background: #fff;}
 .innerWrap{padding-bottom:20px;}
 .rightAlign{margin-right: 0px;}
