<div class="innerWrap">
		<h2>Book Details</h2>
		<div class="row">
   <div class="col-sm-6" style="margin-top:5px;">
    <span>Seach :</span>
    <input type="text" ng-model="searchQuery" class="ng-pristine ng-untouched ng-valid ng-empty">
   </div>
   <div class="col-sm-6 text-right">
    <button class="btn btn-danger" type="button" ng-click="book.deleteRecord(bookMaster);">Delete</button>
    <a ui-sref="createNewUser" class="btn btn-primary" href="#/createNewUser">Add New</a>
   </div>
  </div>
		<br>
		<div class="spinner" ng-show="book.loading">
			<img class="ajax-loader"
					 width="100"
					 height="100"
					 src="images/spinner.gif" />
		</div>
		<div class="table-responsive">
				<table class="table table-bordered">
						<tr >
								<th class="text-center"></th>
								<th class="text-center">Name</th>
								<th class="text-center">Auther</th>
								<th class="text-center">Description</th>
								<th class="text-center">Publisher</th>
								<th class="text-center">Price</th>
								<th class="text-center">Action</th>
						</tr>
						<tr ng-repeat="books in book.bookData | filter : searchQuery | orderBy:name:true">

								<td><input type="checkbox" ng-model="isTrue" ng-checked="bookMaster" ng-change="book.getIndex(books._id.$oid,isTrue )" /></td>
								<td>
										<span>{{books.name}}</span>
										<!--input type="text" ng-show="editMode" ng-model="books.name" /-->
								</td>
								<td>
										<span ng-hide="editMode"> {{books.auther}}</span>
										<input type="text" ng-show="editMode" ng-model="books.auther" />
								</td>
								<td>
										<span ng-hide="editMode">{{books.description}}</span>
										<input type="text" ng-show="editMode" ng-model="books.description" />
								</td>
								<td>
										<span ng-hide="editMode"> {{books.publisher}}</span>
										<input type="text" ng-show="editMode" ng-model="books.publisher" />
								</td>
								<td class="text-center">
										<span ng-hide="editMode" class="text-center"> {{books.price}}</span>
										<input type="text" ng-show="editMode" ng-model="books.price" />
								</td>
								<td class="text-center">
										<button class="btn btn-success text-center" type="button" ng-hide="editMode" ng-click="editMode = true;">Edit</button>
										<button class="btn btn-success text-center" type="button" ng-show="editMode" ng-click="editMode = false;book.updateFormData(books);">Save</button>
								</td>
						</tr>
				</table>
		</div>
	</div>
