<div class="innerWrap">
		<h2>Book Details</h2>
		<div class="row">
			<div class="col-md-5"  style="margin-top:5px;">
				<span>Seach :</span> 
				<input type="text" ng-model="searchQuery"/>
			</div>
			<div class="col-md-2 col-md-offset-5" >
				<a ui-sref="createNewUser" class="btn btn-primary">New Book</a>
			</div>

		</div>
		<br>	
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr >
					<th class="text-center">Name</th>
					<th class="text-center">Auther</th>
					<th class="text-center">Description</th>
					<th class="text-center">Publisher</th>
					<th class="text-center">Price</th>
					<th class="text-center" colspan="2">Action</th>
				</tr>
				<tr ng-repeat="book in book.bookData | filter : searchQuery | orderBy:id:true">
					<td>{{book.name}}</td>
					<td>{{book.auther}}</td>
					<td>{{book.description}}</td>
					<td>{{book.publisher}}</td>
					<td>{{book.price}}</td>
					<td>
						<button class="btn btn-success">
							Edit
						</button>
					</td>	
					<td>
						<button class="btn btn-danger">
							Delete
						</button>
					</td>	
					
				</tr>
			</table>
		</div>
	</div>
	